



<div class="communityList_wrapper">
      <div class="communityList_left">
        <h2>コミュニティ一覧</h2>
        <% @groups.each do |group| %>

        <div class="communityList_list">

          <div class="communityList_list_item">

            <div class="communityList_list_item_text">
              <h3><%=link_to group.name, group_path(group) %></h3>

              <p> 音楽とアートのフェスティバル</p>
            </div>
          </div>

        <% end %>

        </div>
      </div>


    </div>
