<div class="user_index_wrapper">
  <div class="index_title">
  <h1>All users</h1>
  </div>
    <div class="index_content">
      <div class="users">
        <% @users.each do |user| %>
          <p>
            <img src=<%=user.image%>>
            <%= link_to user.name, user,:style=>'color:black' %>
          </p>
        <% end %>
    </div>
  </div>
</div>
