<div class="event_wrapper">
  <div class="container">
    <div class="main_content">
      <div class="event_title_wrap">
        <h2 class="event_show_title">

          <%= @event.title %>
        </h2>
        <% if @event.image %>
          <div class="thumbnail" style="background-image: url(<%= @event.image %>)"></div>

        <% end %>
      </div>
      <div class="event_detail_wrap">

        <div class="event_detail_content">
          <% if @event.site %>
            <div class="event_detail_btn">
              <%= link_to "詳細を確認する", @event.url%>
            </div>

          <% end %>
        </div>
      </div>
    </div>
    <div class="side_content">


      <% if @event.owner %>
      <div class="event_owner_wrap">

      </div>
      <% end %>
      </div>
    </div>
  </div>
