

  <div class="youtube-new-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-4 users-new-container">
          <h1 class="text-center text-white">お気に入り動画</h1>
          <%= form_for @youtube do |f| %>
            <div class="form-group">
              <%= f.label :description ,"動画の詳細" %>
              <%= f.text_field :description, class: 'form-control' %>
            </div>

            <%= f.submit "登録", class: 'btn-block btn-white' %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
