<div class = "top-page-wrapper">
	<div class = "top-container">
		<div class= "top-mask">
			<h1>Collection +</h1>
			<p>自分用の本棚を作ろう</p>
			<p>あなたが影響された、面白かった、感動したという本や動画を</p>
			<p>たくさんコレクションとしてまとめて見よう</p>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('header').hide().fadeIn(2500);

		$('.top-mask').hide().fadeIn(5000);

	});


</script>
