.about-wrapper{

  h3{
    text-align: center;
    font-size: 90px;
    font-family: cursive;
  }
}
  .about-container{
    padding-top: 30px;
    height: 500px;
    background-image: url('fes.jpg');
    background-size: cover;
    height: 500px;
  }





.about2-container{
  background-image: url('');
  height: 400px;
  background-size: contain;
}
