@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
header{
  height: 70px;
  width: 100%;

  .container{
    margin-left: 30px;

  p {
    font-size: 40px;
    height: 10px;
    margin:0 auto;
    padding-top: 20px;
    color: #000;


  }
 nav{
   font-size: 25px;
   font-family: cursive;
 }
 }
}
body.index{
  background-image: url('syabobo.jpeg');
  background-size: cover;
  animation: bgiLoop 90s linear infinite ;
}
@keyframes bgiLoop {
    0% { background-position: 0 0;}
  100% { background-position: -3000px 5000px;}

}
.top-page-wrapper{
  height: 700px;
  width:100%;


}




.top-mask{
    h1{
      font-size: 220px;
      padding: 100px 300px 0 400px;
      color: #FFCCFF;
      background: -webkit-linear-gradient(0deg, #40E0D0, #FFCCFF, #FFCCFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      opacity: 0.9;
      font-family: cursive;
      animation: appeare 1s ease 3s 1 normal forwards running;
    }


    h2{
      font-size: 35px;
      padding: 0 300px 0 700px;
      color: #FFCCFF;
      background: -webkit-linear-gradient(0deg, #40E0D0, #FFCCFF, #FFCCFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

      font-family: cursive;
      }



}
h3{
  text-align: center;
  font-family: cursive;
  font-size: 150px;
  padding-top: 70px;
  margin: 0 auto;
  color: #000;

}


.one {
  position: relative;
  top: 150px;
  left: 180px;
  width: 600px;
  font-size: 25px;
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right:150px;

}
.one:hover{
    color:#000
}

.two{
  position: relative;
  top: 100px;
  left:600px;
  width:600px;
  font-size:25px;
  font-size: 25px;
  
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right:150px;

}
.two:hover{
    color: #000;

}

.midle-wrapper{
  height:1000px;
  text-align:center;
}
.midle-container{
  p{
    font-size: 20px;
    margin-top: 50px;

  }
}

h4{
  font-size:80px;
  font-family: cursive;
  margin-bottom: 200px;

}
