@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
header{
  height: 90px;
  width: 100%;
  background-color :#EEEEEE	;


  .container{
    margin-left: 30px;

  p {
    font-size: 40px;
    height: 10px;
    margin:0 auto;
    padding-top: 20px;
    color: #000;


  }
 nav{
   font-size: 25px;
   font-family: cursive;
   display: block;
   color: #000;
   .current_user_image{
     width: 50px;
     height: 50px;


   }
   img{
     width: 20px;
     height:10px;
   }
 }

 }
}



.top-page-wrapper{
  height: 610px;
  width:100%;
  background-image: url("book.jpg");
  background-size: contain;

  background-size: cover;
  padding-top: 50px;


}
.top-mask{
    h1{
      font-size: 130px;
      padding: 100px 300px 0 400px;
      color: #fff;
      font-family: cursive;
      margin-bottom: 80px;
    }
    p{
      color: #fff;
      text-align: center;
      margin-top: 40px;
      font-size: 20px;

    }
}
.alert{
  width: 300px;
  height: 60px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  margin-left: 70px;
  border-radius: 50%;

  p{
    padding:5px;
    font-size: 20px;
  }
}
