


.form-group{
  border-radius: 10%;
  padding:6px;
}
.btn-block{
  border-radius: 10px;
  padding: 10px;
  background-color:#8EB8FF	;
  color: #fff;
}

.recommendation_container{
    width: 480px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0, .3);
    float: left;
    margin:30px 0 70px 150px;
    height: 400px;

}
.recommendation_wrapper{
  h1{
    text-align: center;
    padding-top: 30px;
  }
}


.description{
    clear: left;
}
.description img{
    float: left;
    margin: 0 10px 10px 0;
    border-right: thick solid navy;
    padding-right: 13px;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.description img:hover{
    opacity: 0.5;
}
 h2 {
  position: relative;
  bottom: 20px;
   font-size:17px;


}
.information h1{
    font-size: 18px;
    margin: 0 10px 10px 0;
    float: left;
}
.information .type {
    background-color: #E35A4D;
    display: inline;
    padding: 3px 5px;
    font-size: 80%;
    color: #fff;
}
.recommendation_content{
    background-color: #fff;
    padding: 20px;
}



a{
    color: #666;
    text-decoration:none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.recommendation-index-single{
  p{
    position: relative;
    top: 50px;
    float: left;
    margin-left: 15px;
    right: 180px;
    border-top: thick solid navy;
    padding-top: 10px;

  }
}
.under{
  width: 250px;
  float: left;
  height: 90px;
  padding: 10px;
}
.recommendation-index-icon {
  width: 35px;
  height: 30px;

}
