// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ゆーざー詳細画面
@media screen and (max-width: 100vw) {

img{
max-width: 100%;
height: auto;
width /***/:auto;
}
.user_wrapper {

  background-image: url('objects.jpg');
  width:100vw;
  height: 700px;
  overflow: scroll;
  background-size: cover;
  margin: 0 auto;
  .container {

  }
}

// ユーザー詳細　サイドバー
.side_content{
  text-align: center;
  margin-top: 100px;
}
.user_profile {
  text-align:center;
  border: solid 1px #707070;
  width: 200px;
  margin: 0 auto;
  height: 200px;
  color: #000;
  width: 210px;
  height: 210px;
  line-height: 120px;
  position: relative;
  border-radius: 10%;
  border: double 4px #C0C0C0;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  margin-top: 30px;

  background-color:rgba(255,255,255,0.5);

}

.user_profile:hover {
 -webkit-transform: rotateY(360deg);
 transform: rotateY(360deg);
 background-color: #fff;
}

.user_profile_image{
  margin-top: 20px;
  img{
    border-radius: 50%;
  }
}

.current_user_image{
  width: 110px;
  height: 110px;

}

.profile_button{

 color: #000;
 width: 160px;
 height: 120px;
 line-height: 120px;
 border-radius: 10%;
 border: double 4px #C0C0C0;
 overflow: hidden;
 transition: .6s;
 margin-top: 50px;


  background-color:rgba(255,255,255,0.8);
}

.profile_button:hover {
 -webkit-transform: rotateY(360deg);
 transform: rotateY(360deg);
 background-color:#fff	;
}


//.community_index_button:hover{
  //-webkit-transform: rotateY(360deg);
  //transform: rotateY(360deg);
//}
.collection_button{

 color: #000;
 width: 160px;
 height: 120px;
 line-height: 120px;
 border-radius: 10%;
 border: double 4px #C0C0C0;
 text-align: center;
 overflow: hidden;
 transition: .6s;
 margin-top : 50px;


  background-color:rgba(255,255,255,0.8);
}
.collection_button:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  background-color:#fff	;
}
.collection_index_button{

 color: #000;
 width: 160px;
 height: 120px;
 line-height: 120px;
 border-radius: 10%;
 border: double 4px #C0C0C0;
 text-align: center;
 overflow: hidden;
 transition: .6s;

 margin-top: 50px;

 background-color:rgba(255,255,255,0.8);
}
.collection_index_button:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  background-color: #fff;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid ;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


}
