// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ゆーざー詳細画面

.user_wrapper {
  margin-bottom: 100px;
  .container {
    display: flex;
  }
}


  .side_content {
    border-left: solid 1px #707070;
    padding: 15px 5px;
    width: 33%;


    p {
      display: inline-block;
      font-size: 18px;
      width: 75%;
      vertical-align: middle;

    }
    .user_events_count {
      text-align: center;
    }
  }


// ユーザー詳細　サイドバー

.user_profile {
  border: solid 1px #707070;
  width: 200px;
  margin: 0 auto;
  height: 200px;

  text-align: center;
  .user_profile_image {
    margin: 20px auto;
    width: 86px;
    img {
      border-radius: 40px;

    }
  }
  h3 {
    font-size: 24px;
  }
}


.user_events_count, .user_level {
  p {
    text-align: center;
    font-size: 30px;
  }
  .level {
    line-height: 54px;
  }
}

.user_portfolio_btn, .user_edit_btn {
    display: inline-block;
    background: #2689EB;
    border-radius: 4px;
    margin: 20px 0;
    color: white;
    padding: 10px;
}

.user_edit_btn {
  background: #707070;
}

.icon_image{
  width: 50px;
  height: 50px;
}

.profile_icon_image{
  width: 80px;
  height: 80px;
}

.current_user_image{
  width: 110px;
  height: 110px;
}

.profile_button{
  display: inline-block;
 text-decoration: none;
 color: #668ad8;
 width: 160px;
 height: 160px;
 line-height: 120px;
 border-radius: 50%;
 border: double 4px #668ad8;
 text-align: center;
 overflow: hidden;
 transition: .6s;
 position: absolute;
 left: 400px;
 top: 120px;
}

.profile_button:hover {
 -webkit-transform: rotateY(360deg);
 transform: rotateY(360deg);
}

.community_button{
  display: inline-block;
 text-decoration: none;
 color: #668ad8;
 width: 160px;
 height: 160px;
 line-height: 120px;
 border-radius: 50%;
 border: double 4px #668ad8;
 text-align: center;
 overflow: hidden;
 transition: .6s;
 position: absolute;
 left: 600px;
 top: 120px;
}
.community_button:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.community_index_button{
  display: inline-block;
 text-decoration: none;
 color: #668ad8;
 width: 160px;
 height: 160px;
 line-height: 120px;
 border-radius: 50%;
 border: double 4px #668ad8;
 text-align: center;
 overflow: hidden;
 transition: .6s;
 position: absolute;
 left: 800px;
 top: 120px;
}
.community_index_button:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.collection_button{
  display: inline-block;
 text-decoration: none;
 color: #668ad8;
 width: 160px;
 height: 160px;
 line-height: 120px;
 border-radius: 50%;
 border: double 4px #668ad8;
 text-align: center;
 overflow: hidden;
 transition: .6s;
 position: absolute;
 left: 500px;
 top: 320px;
}
.collection_button:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.collection_index_button{
  display: inline-block;
 text-decoration: none;
 color: #668ad8;
 width: 160px;
 height: 160px;
 line-height: 120px;
 border-radius: 50%;
 border: double 4px #668ad8;
 text-align: center;
 overflow: hidden;
 transition: .6s;
 position: absolute;
 left: 700px;
 top: 320px;
}
.collection_index_button:hover{
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
